<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title> Hobbies </title>

        <link rel="stylesheet" href="../resources/css/styles.css">
    </head>

    <body>
        <header>
            <img src="../resources/img/Website_Header.png" alt="Isha Shah" class="header">
        </header>

        <nav>
            <button onclick="location.href='home.html'"> Home </button>
            <button onclick="location.href='hobbies.html'"> Hobbies </button>
            <button onclick="location.href='projects.html'"> Projects </button>
            <button onclick="location.href='resume.html'"> Resume </button>
        </nav>

        <main>
            <h1>
                My Hobbies
            </h1>

            <p>
                In my free time, I enjoy creative writing, swimming, and reading.
                These hobbies allow me to express my creativity, stay active, and stay engaged.
            </p>

            <section>
                <h2>
                    My Favorite Hobbies
                </h2>

                <h3>
                    Creative Writing
                </h3>

                <div class="hobby-card">
                    <img src="../resources/img/Writing.png" alt="A pen on paper" class="hobby">

                    <p>
                        I enjoy creative writing because it allows me to express my emotions and thoughts in an imaginative way.
                        I like to write novels because they require more attention and I can create an immersive world with it.
                        So far, I have completely finished one novel, am editing another, and am currently writing three others, with many more ideas written down.
                        I mostly write fantasy/sci-fi novels, but the ideas I have for other novels explore other genres, such as murder mysteries and paranormal fiction.
                    </p>
                </div>

                <h3>
                    Swimming
                </h3>

                <div class="hobby-card">
                    <img src="../resources/img/Swimming.png" alt="A swimmer in the pool" class="hobby">

                    <p>
                        I enjoy swimming because it's a great way to stay active. I had been competitively swimming for more than 10 years, so now I still swim for fun.
                        It's been a great way to de-stress and maintain my skills that I've developed over the years.
                        My favorite events are the 200 IM and the 100 fly, even though I don't exactly like butterfly, but I'm good at it.
                    </p>
                </div>

                <h3>
                    Reading
                </h3>

                <div class="hobby-card">
                    <img src="../resources/img/Reading.png" alt="An open book" class="hobby">

                    <p>
                        I enjoy reading because there are so many ways something can be written. My favorite genre is fantasy because I can escape and be immersed into a different world.
                        A lot of the books I read are also inspiration for my own writing.
                        My favorite books are the <i>School for Good and Evil</i> series by Soman Chainani, the <i>Throne of Glass</i> series by Sarah J. Maas, and the <i>Curse of Saints</i> trilogy by Kate Dramis.
                    </p>
                </div>
            </section>
        </main>

        <footer>
            <img src="../resources/img/linkedin.png" alt="linkedin logo" class="logo"> <a href="https://www.linkedin.com/in/ishashah06/">LinkedIn </a>
        </footer>

    </body>
</html>